.jumbotron{
    background-color: #efe9eb;
}

.btn {
    background-color: #7d37bd; 
    border-color: #7d37bd;
}

footer{
    padding: 10px 100px 0px 150px;
    background-color: #efe9eb;
}

.mb-1{
    background-color: #563d7c;
} 

.nav-link{
    color: #cbbde2;
}

.footer-address-icon{
    padding: 0px 10px 0px 0px;
}


.table thead th {
    background-color: #7d37bd; 
    border-color: #7d37bd;
    color: #fff;
    font-weight: 400;
}
